openapi: 3.1.0
info:
  title: LetsCloud API
  description: |
    Complete API for managing LetsCloud cloud infrastructure through ChatGPT Actions.
    
    This API allows you to:
    - Manage cloud instances (create, delete, start, stop, reboot)
    - Handle SSH keys for secure access
    - Create and manage snapshots
    - Check account information and balance
    - Discover available plans, images, and locations
    
    All requests are made through a secure proxy server that handles authentication.
  version: 1.0.0
  contact:
    name: LetsCloud Support
    email: support@letscloud.io
    url: https://letscloud.io/help
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://action.letscloud.io
    description: LetsCloud API Proxy Server

security:
  - ApiKeyAuth: []

paths:
  /set-apikey:
    post:
      summary: Configure API Key
      description: |
        Configure your LetsCloud API key for authentication.
        This endpoint stores your API key securely and associates it with your user ID.
      operationId: setApiKey
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - userId
                - apiKey
              properties:
                userId:
                  type: string
                  description: Unique identifier for the user
                  example: "user-123"
                apiKey:
                  type: string
                  description: Your LetsCloud API key
                  example: "lets_abc123xyz789"
      responses:
        '200':
          description: API key configured successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "API Key configured successfully for user"
                  userId:
                    type: string
                    example: "user-123"
        '400':
          description: Invalid request
        '500':
          description: Server error

  /proxy:
    post:
      summary: Proxy Request
      description: |
        Forward requests to the LetsCloud API with automatic authentication.
        The proxy server will inject your API key and forward the request to the appropriate LetsCloud endpoint.
      operationId: proxyRequest
      tags:
        - Proxy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - userId
                - path
                - method
              properties:
                userId:
                  type: string
                  description: User identifier for authentication
                  example: "user-123"
                path:
                  type: string
                  description: API endpoint path (without base URL)
                  example: "/v2/instances"
                method:
                  type: string
                  enum: [GET, POST, PUT, DELETE]
                  description: HTTP method
                  example: "GET"
                body:
                  type: object
                  description: Request body (for POST/PUT requests)
                  example:
                    location_slug: "us-east"
                    plan_slug: "2vcpu-4gb-30ssd"
                    hostname: "my-server"
                    label: "My Server"
                    image_slug: "ubuntu-22.04"
                    password: "SecurePassword123!"
      responses:
        '200':
          description: Successful response from LetsCloud API
          content:
            application/json:
              schema:
                type: object
                description: Response from LetsCloud API
        '400':
          description: Bad request
        '401':
          description: Unauthorized - API key not configured
        '404':
          description: Resource not found
        '500':
          description: Server error

  /apikey-status:
    get:
      summary: Check API Key Status
      description: Check if your API key is properly configured
      operationId: checkApiKeyStatus
      tags:
        - Authentication
      parameters:
        - name: userId
          in: query
          required: true
          schema:
            type: string
          description: User identifier
          example: "user-123"
      responses:
        '200':
          description: API key status
          content:
            application/json:
              schema:
                type: object
                properties:
                  configured:
                    type: boolean
                    example: true
                  userId:
                    type: string
                    example: "user-123"
        '404':
          description: API key not configured

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: api-token
      description: |
        API token for authentication. 
        For the proxy server, this is handled automatically using the configured API key.

  schemas:
    Instance:
      type: object
      properties:
        id:
          type: string
          example: "server-123"
        hostname:
          type: string
          example: "my-server"
        label:
          type: string
          example: "My Web Server"
        status:
          type: string
          enum: [running, stopped, starting, stopping, rebooting]
          example: "running"
        location:
          type: string
          example: "us-east"
        plan:
          type: string
          example: "2vcpu-4gb-30ssd"
        image:
          type: string
          example: "ubuntu-22.04"
        ip_address:
          type: string
          example: "192.168.1.100"
        created_at:
          type: string
          format: date-time
          example: "2024-01-15T10:30:00Z"

    Plan:
      type: object
      properties:
        slug:
          type: string
          example: "2vcpu-4gb-30ssd"
        name:
          type: string
          example: "2 vCPU, 4GB RAM, 30GB SSD"
        price:
          type: number
          format: float
          example: 12.00
        specs:
          type: object
          properties:
            cpu:
              type: integer
              example: 2
            ram:
              type: integer
              example: 4096
            disk:
              type: integer
              example: 30

    Image:
      type: object
      properties:
        slug:
          type: string
          example: "ubuntu-22.04"
        name:
          type: string
          example: "Ubuntu 22.04 LTS"
        distribution:
          type: string
          example: "Ubuntu"
        version:
          type: string
          example: "22.04"

    Location:
      type: object
      properties:
        slug:
          type: string
          example: "us-east"
        name:
          type: string
          example: "US East"
        country:
          type: string
          example: "United States"
        city:
          type: string
          example: "New York"

    SSHKey:
      type: object
      properties:
        id:
          type: integer
          example: 1
        title:
          type: string
          example: "My Laptop Key"
        fingerprint:
          type: string
          example: "SHA256:abc123..."
        created_at:
          type: string
          format: date-time
          example: "2024-01-15T10:30:00Z"

    Snapshot:
      type: object
      properties:
        image_slug:
          type: string
          example: "snap-123"
        label:
          type: string
          example: "Backup before update"
        status:
          type: string
          enum: [building, completed, failed]
          example: "completed"
        created_at:
          type: string
          format: date-time
          example: "2024-01-15T10:30:00Z"

    AccountInfo:
      type: object
      properties:
        email:
          type: string
          example: "user@example.com"
        balance:
          type: number
          format: float
          example: 25.50
        currency:
          type: string
          example: "USD"
        created_at:
          type: string
          format: date-time
          example: "2024-01-01T00:00:00Z"

    Error:
      type: object
      properties:
        error:
          type: string
          example: "UNAUTHORIZED"
        message:
          type: string
          example: "Invalid or missing API key"
        details:
          type: string
          example: "Please configure your API key using /set-apikey endpoint"

tags:
  - name: Authentication
    description: API key configuration and management
  - name: Proxy
    description: Proxy requests to LetsCloud API
  - name: Instances
    description: Cloud instance management
  - name: SSH Keys
    description: SSH key management
  - name: Snapshots
    description: Snapshot operations
  - name: Resources
    description: Resource discovery (plans, images, locations)
  - name: Account
    description: Account information and billing
