openapi: 3.1.0
info:
  title: LetsCloud API Test
  description: Test API for authentication
  version: 1.0.0

servers:
  - url: https://core.letscloud.io
    description: Production API server

security:
  - ApiKeyAuth: []

paths:
  /api/account:
    get:
      summary: Get account information
      description: Test authentication with account info
      operationId: getAccountInfo
      tags:
        - Account
      responses:
        '200':
          description: Account information retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/Account'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: api-token
      description: Your LetsCloud API token. Required for all API calls.

  schemas:
    Account:
      type: object
      properties:
        name:
          type: string
          example: "John Smith"
        email:
          type: string
          example: "john.smith@letscloud.io"
        balance:
          type: string
          example: "100.00"

  responses:
    Unauthorized:
      description: Unauthorized - invalid or missing API key
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: "Invalid API key"
              code:
                type: string
                example: "UNAUTHORIZED"

    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: "Internal server error"
              code:
                type: string
                example: "INTERNAL_ERROR"

tags:
  - name: Account
    description: Account information operations
