openapi: 3.1.0
info:
  title: LetsCloud API
  description: A comprehensive API for managing cloud infrastructure on LetsCloud platform
  version: 1.2.0
  contact:
    name: LetsCloud Support
    url: https://www.letscloud.io
    email: support@letscloud.io

servers:
  - url: https://core.letscloud.io
    description: Production API server

security:
  - ApiKeyAuth: []

paths:
  /api/servers:
    get:
      summary: List all servers
      description: Retrieve a list of all servers in your account
      operationId: listServers
      tags:
        - Servers
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: per_page
          in: query
          description: Number of servers per page
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 20
            default: 5
      responses:
        '200':
          description: List of servers retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      servers:
                        type: array
                        maxItems: 20
                        items:
                          $ref: '#/components/schemas/Server'
                      total:
                        type: integer
                      page:
                        type: integer
                      per_page:
                        type: integer
                      has_more:
                        type: boolean
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/account:
    get:
      summary: Get account information
      description: Retrieve your LetsCloud account information
      operationId: getAccountInfo
      tags:
        - Account
      responses:
        '200':
          description: Account information retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/Account'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: api-token
      description: Your LetsCloud API token. Required for all API calls.

  schemas:
    Server:
      type: object
      properties:
        id:
          type: integer
          example: 123
        label:
          type: string
          example: "My Web Server"
        hostname:
          type: string
          example: "webserver-01"
        status:
          type: string
          enum:
            - running
            - stopped
            - starting
            - stopping
            - rebooting
            - error
          example: "running"
        ip_address:
          type: string
          example: "192.168.1.100"
        plan_slug:
          type: string
          example: "basic-1gb"
        image_slug:
          type: string
          example: "ubuntu-22-04"
        location_slug:
          type: string
          example: "nyc1"
        created_at:
          type: string
          format: date-time
          example: "2024-01-15T10:30:00Z"

    Account:
      type: object
      properties:
        name:
          type: string
          example: "John Smith"
        company_name:
          type: string
          example: "LetsCloud Company"
        email:
          type: string
          example: "john.smith@letscloud.io"
        currency:
          type: string
          example: "$"
        balance:
          type: string
          example: "100.00"

  responses:
    Unauthorized:
      description: Unauthorized - invalid or missing API key
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: "Invalid API key"
              code:
                type: string
                example: "UNAUTHORIZED"

    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: "Internal server error"
              code:
                type: string
                example: "INTERNAL_ERROR"

tags:
  - name: Servers
    description: Server management operations
  - name: Account
    description: Account information operations
